.parent {
  height: 0;
  padding-bottom:  45.25% ; /* 56.25% 16:9 */
  position: relative;
  margin-bottom: -50px;
}

.child {
    background:#ECFCFF;
    position: absolute;
    border:1px solid #CCCCCC;
    top:5%;
    left:5%;
    width: 90%; height: 85%;
}

.iframe-1    {
    zoom: 0.071;
    width:1000px;
    height:1300px;
    position:relative;
    left:3px;
    top:8px;
}

.scr-vert {
    background: #D8D8D8;
    width:9%;
    height:28%;    
    position:relative;
    border:1px solid #696565;
    border-radius: 10px;
}

.scr-hor {
    background: #D8D8D8;
    width:12.5%;
    height:17.7%;    
    position:absolute;
    border:1px solid #696565;
    border-radius: 10px;
}

.scr-1 {
   top:30%;
   left:-10px;
}

.scr-2 {
    top:40%;
    left:-10px;
}

.scr-3 {
    bottom:-10px;
    left:50%;
}

.scr-4 {
    bottom:-10px;
    left:70%;
}

.scr-5 {
    top:50%;
    left:50%;
}

.scr-6 {
    top:50%;
    left:37%;
}

.scr-7 {
    top:31%;
    left:50%;
}

.scr-8 {
    top:31%;
    left:37%;
}

.door {
    width:20%;
    left:18%;
    bottom:-5px;
    background:#724339;
    position:absolute;
    height:3%;
    border-radius: 3px;
}

.window {
    top:-5px;
    background:#4D92DF;
    position:absolute;
    height:12px;
    z-index: 1;
    border-radius: 3px;
}

.window-1 {
    width:25%;
    left:10%;
}

.window-2 {
    width:19%;
    top:-5px;
    left: 75%;
}

.box {
    position:absolute;
    background:#666666;
}

.box-1 {
    width:5%;
    height:20%;
}

.box-2 {
    right:0px;
    width:30%;
    height:15%;
}

.box-3 {
    right:0px;
    width:7.5%;
    height:30%;
}

header {
    color:white;
    height:10%;
    background:#177889;
    padding:1rem;
    font-size: 1.5em;
    margin:0px auto;
}

footer {
   width:100%;
    margin-top:50px;
    color:#666666;
    padding: 1rem;
    /*background-color: #efefef;*/
    text-align: center;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin:0px;

}

.iframe-invisible-overlay {
    width:100%;
    height:100%;
    z-index: 2;
    position:absolute;
    
}

.iframe-container {
    margin-top: 5px;
    margin-left: 5%;
    width:90%;
    height:90%;
    padding: 0;
    overflow: hidden;
}
.frame-vert {
    width: 1230px;
    height: 1530px;
}
.frame-hor {
    height: 1230px;
    width: 1530px;
}
.frame {
    -ms-zoom: 0.1;
    -ms-transform-origin: 0 0;
    -moz-transform: scale(0.1);
    -moz-transform-origin: 0px 0px;
    -o-transform: scale(0.1);
    -o-transform-origin: 0px 0px;
    -webkit-transform: scale(0.10);
    -webkit-transform-origin: 0 0;
    overflow: hidden;
}